.footer {
  background-color: $color-secondary;
  grid-column: content-start / content-end;
  padding: 8rem;
  
  @include respond(tablet) {
    padding: 4rem;
  }
}

.nav {
  list-style: none;
  
  @include respond(tablet) {
    max-width: 65rem;
    margin: 0 auto;
  }
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  
  &__link:link, &__link:visited {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s;
  }
  
  &__link:hover {
    background-color: rgba(#fff, .05);
    transform: translateY(-2px);
  }
  
  &__link:active {
    background-color: rgba(#fff, .05);
    transform: translateY(0);
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin: 6rem auto 0;
  text-align: center;
  width: 70%;
  
  @include respond(tablet) {
    margin: 3rem auto 0;
  }
}