.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / content-end;
  padding: 3rem;
  
  @include respond(phone-land) {
    grid-column: 1 / -1;
  }
  
  @include respond(phone) {
    display: none;
  }
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;
    
    @include respond(phone-land) {
      grid-template-columns: repeat(3, min-content max-content);
    }
  }
  
  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }
  
  &__sold {
    text-transform: uppercase;  
    color: $color-grey-light-2;
    margin-top: -3px;
  }
  
  @include respond(phone-land) {
    &__heading {
      display: none;
    }
  }
}