.story {
  
  &__pictures {
    background-color: $color-primary;
    grid-column: content-start / col-end 4;
    background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url("../img/back.jpg");
    
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    
    @include respond(phone-land) {
      background-image: linear-gradient(white, white);
      display: flex;
      width: 100vw;
    }
  }
  
  &__image {
    
    &--1 {
      width: 100%;
      grid-row: 2 / span 4;
      grid-column: 2 / span 4;
      box-shadow: 0 2rem 5rem rgba(black, .1);
    }
    
    &--2 {
      width: 115%;
      z-index: 2;
      grid-row: 4 / 6;
      grid-column: 4 / 7;
      box-shadow: 0 2rem 5rem rgba(black, .2);
    }
    
    @include respond(phone-land) {
      &--1 { 
        flex: 1.333333; 
        width: 0;
      }
      
      &--2 { 
        flex: 1.818181;
        width: 0;
      }
    }
  }
  
  &__content {
    background-color: $color-grey-light-1; 
    grid-column: col-start 5 / content-end;
    
    padding: 6rem 8vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    @include respond(tab-port) {
      padding: 3rem 8vw;
    }
    
    @include respond(phone-land) {
      grid-column: 1 / -1;
    }
  }
  
  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}