%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading {
  @extend %heading;
}

.heading-primary {
  font-size: 4.5rem;
  color: $color-grey-light-1;
  line-height: 1;
}

.heading-secondary {
  @extend %heading;
  
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  
  @include respond(phone) {
    font-size: 3rem;
  }
  
  &--light { color: $color-grey-light-1; }
  &--dark { color: $color-grey-dark-1; }
}

.heading-tertiary {
  @extend %heading;
  
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-quaternary {
  @extend %heading;
  
  font-size: 1.9rem;
  
  &--light { color: $color-grey-light-1; }
  &--dark { color: $color-grey-dark-1; }
}

.btn {
  background-color: $color-primary;
  color: white;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: .1s;
  z-index: 2;
  
  &:hover {
    background-color: $color-primary-dark;
  }
  
  &:active {
    background-color: darken($color-primary-dark, 10%);
  }
}

.liked {
  fill: $color-liked !important;
}

.u-mb-sm { margin-bottom: 2rem; }

.u-mb-md { 
  margin-bottom: 3rem; 
  
  @include respond(phone) {
    margin-bottom: 2rem; 
  }
}

.u-mb-lg { margin-bottom: 4rem; }
.u-mb-hg { margin-bottom: 8rem; }